.scroll_up {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #f4c700;
  color: #212121;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(100%);
  z-index: 20;
}

.scroll_up.show_scroll {
  opacity: 1;
  transform: translateY(0);
}
