.cardheader {
  font-family: "Poppins Regular", sans-serif;
  font-size: large;
}

.ui.steps .step {
  justify-content: flex-start !important;
}

@media (width >= 991px) {
  .title,
  .description {
    text-align: left;
    margin-left: 10px;
    font-size: 20px !important;
  }
}

@media (767px <= width <= 991px) {
  .ui.steps .step {
    justify-content: space-between;
  }
  .title,
  .description {
    text-align: left;
    margin-left: 10px;
    font-size: larger;
  }
}
.step {
  padding: 2em 1em;
  transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

.step:hover {
  transform: translateY(-5px); /* Example: Move the element 5px up on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
